@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    background-color:#E5E5E5;
}

.header-section{
    background-color:white
}


.blog h4{
    font-family: 'Poppins', sans-serif;
    font-weight:500;
}

.img-design img{
    width:100px;
   
}

.watch-back-color{
    background: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);
}
.bag-back-color{
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
}
.shoe-back-color{
    background: linear-gradient(170.41deg, #4289FF -10.89%, #3F07F8 92.77%);
}

.div-border{
    border:2px sold;
    border-radius: 20px;
}
.contact{
    background-color: #FFF2F1;
}